<a href="https://colab.research.google.com/github/IsaacViramontes/Actividades_Aprendizaje-/blob/main/SVD_Equipo31_prefinal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Descripción de la actividad**

---
Esta Tarea se deberá resolver en equipos, de acuerdo a como fueron integrados al inicio del curso. 
Se trabajará con el conjunto de datos llamado "Restaurant & consumer", para la generación de un 
sistema de recomendación. Estos sistemas están dentro de los llamados métodos no supervisados y que 
se basan en técnicas de reducción de dimensionalidad. 
El archivo a descargar se llama RCdata.zip y se encuentra en la siguiente liga del repositorio de la UCI: 
https://archive.ics.uci.edu/ml/datasets/Restaurant+%26+consumer+data  
En particular se trabajará con los siguientes archivos, los cuales contienen la información mínima que 
requerimos para esta actividad: rating_final.csv y geoplaces2.csv. 

---

In [1]:
rating_final  = 'https://raw.githubusercontent.com/PosgradoMNA/Actividades-de-aprendizaje-Juan-sebastian-tellez-lopez/main/rating_final.csv'
geo_places = 'https://raw.githubusercontent.com/PosgradoMNA/Actividades-de-aprendizaje-Juan-sebastian-tellez-lopez/main/geoplaces2.csv'

In [2]:
import numpy as np
import pandas as pd
from sklearn.decomposition import TruncatedSVD

# **Objetivo**

---
El objetivo es diseñar tres sistemas de recomendación basados en la evaluación de los usarios a los 
restaurantes. Dicha evaluación será la general, la referente al servicio y la referente a la comida. 

---

##**Ejercicio 1**

---
Descarga los archivos y genera la matriz de utilidad en la cual los renglones son los usuarios (user_ID), las columnas los nombres de los restaurantes (name) y las entradas la evaluaciones generales dadas por los usuarios (rating). En particular indica el tamaño de dicha matriz y despliega 
sus primeros 10 renglones. 

---

In [3]:
dfrating = pd.read_csv(rating_final, sep=",")  #Observaremos la información que tenemos en nuestro primer archivo.
print(dfrating.shape)
dfrating.head(10)

(1161, 5)

  userID  placeID  rating  food_rating  service_rating
0  U1077   135085       2            2               2
1  U1077   135038       2            2               1
2  U1077   132825       2            2               2
3  U1077   135060       1            2               2
4  U1068   135104       1            1               2
5  U1068   132740       0            0               0
6  U1068   132663       1            1               1
7  U1068   132732       0            0               0
8  U1068   132630       1            1               1
9  U1067   132584       2            2               2

In [4]:
dfgeoplaces = pd.read_csv(geo_places,encoding='cp1252')  #Observaremos la información que tenemos en nuestro segundo archivo.
print(dfgeoplaces.shape)
dfgeoplaces.head(10)

(130, 21)

,placeID,latitude,longitude,the_geom_meter,name,address,city,state,country,fax,...,alcohol,smoking_area,dress_code,accessibility,price,url,Rambience,franchise,area,other_services
0,134999,18.915421,-99.184871,0101000020957F000088568DE356715AC138C0A525FC46...,Kiku Cuernavaca,Revolucion,Cuernavaca,Morelos,Mexico,?,...,No_Alcohol_Served,none,informal,no_accessibility,medium,kikucuernavaca.com.mx,familiar,f,closed,none
1,132825,22.147392,-100.983092,0101000020957F00001AD016568C4858C1243261274BA5...,puesto de tacos,esquina santos degollado y leon guzman,s.l.p.,s.l.p.,mexico,?,...,No_Alcohol_Served,none,informal,completely,low,?,familiar,f,open,none
2,135106,22.149709,-100.976093,0101000020957F0000649D6F21634858C119AE9BF528A3...,El Rincón de San Francisco,Universidad 169,San Luis Potosi,San Luis Potosi,Mexico,?,...,Wine-Beer,only at bar,informal,partially,medium,?,familiar,f,open,none
3,132667,23.752697,-99.163359,0101000020957F00005D67BCDDED8157C1222A2DC8D84D...,little pizza Emilio Portes Gil,calle emilio portes gil,victoria,tamaulipas,?,?,...,No_Alcohol_Served,none,informal,completely,low,?,familiar,t,closed,none
4,132613,23.752903,-99.165076,0101000020957F00008EBA2D06DC8157C194E03B7B504E...,carnitas_mata,lic. Emilio portes gil,victoria,Tamaulipas,Mexico,?,...,No_Alcohol_Served,permitted,informal,completely,medium,?,familiar,t,closed,none
5,135040,22.135617,-100.969709,0101000020957F00001B552189B84A58C15A2AAEFD2CA2...,Restaurant los Compadres,Camino a Simon Diaz 155 Centro,San Luis Potosi,SLP,Mexico,?,...,Wine-Beer,none,informal,no_accessibility,high,?,familiar,f,closed,none
6,132732,23.754357,-99.171288,0101000020957F00008A20E615808157C16272FECBF84F...,Taqueria EL amigo,Calle Mezquite Fracc Framboyanes,Cd Victoria,Tamaulipas,Mexico,?,...,No_Alcohol_Served,none,casual,completely,low,?,familiar,f,open,none
7,132875,22.149901,-100.993779,0101000020957F00008A2A0747DE4758C11EB31D2A31A8...,shi ro ie,?,?,?,?,?,...,Wine-Beer,section,informal,no_accessibility,high,?,familiar,t,open,Internet
8,132609,23.760268,-99.165865,0101000020957F0000A478418BBA8057C133851EB22C4E...,Pollo_Frito_Buenos_Aires,tampico,victoria,Tamaulipas,Mexico,?,...,No_Alcohol_Served,not permitted,informal,completely,low,?,quiet,t,closed,none
9,135082,22.151448,-100.915099,0101000020957F0000A29FAF95CD4958C1FEEEBB73A991...,la Estrella de Dimas,Villa de Pozos 192 Villa de Pozos,San Luis Potosi,SLP,Mexico,?,...,No_Alcohol_Served,none,informal,no_accessibility,medium,?,familiar,f,closed,none

---
Vamos a tomar las columnas que necesitamos para empezar a armar nuestra matriz de utilidad.

---

In [5]:
dfrating = dfrating[['userID','placeID','rating']]
dfrating.head(3)

  userID  placeID  rating
0  U1077   135085       2
1  U1077   135038       2
2  U1077   132825       2

In [6]:
dfgeoplaces = dfgeoplaces[['placeID','name']]
dfgeoplaces.head(3)

   placeID                        name
0   134999             Kiku Cuernavaca
1   132825             puesto de tacos
2   135106  El Rincón de San Francisco

---
En este caso nuestra llave para unir las dos tablas va a ser placeID.

---

In [7]:
relacion = pd.merge(dfrating,dfgeoplaces, on ='placeID')
relacion.head(5)

  userID  placeID  rating                    name
0  U1077   135085       2  Tortas Locas Hipocampo
1  U1108   135085       1  Tortas Locas Hipocampo
2  U1081   135085       1  Tortas Locas Hipocampo
3  U1056   135085       2  Tortas Locas Hipocampo
4  U1134   135085       2  Tortas Locas Hipocampo

---
Finalmente vamos a dejar solo las columnas que necesitamos y desplegaremos nuestra matriz de utilidad.

---

In [8]:
UtMx = relacion.pivot_table(values='rating', index='userID', columns='name', fill_value=0)
print("El tamaño de nuestra matriz de utilidad es: ",UtMx.shape)
UtMx.head(10)

El tamaño de nuestra matriz de utilidad es:  (138, 129)

name,Abondance Restaurante Bar,Arrachela Grill,Cabana Huasteca,Cafe Chaires,Cafeteria cenidet,Cafeteria y Restaurant El Pacifico,Carls Jr,Carnitas Mata Calle 16 de Septiembre,Carreton de Flautas y Migadas,Cenaduria El RincÃ³n de Tlaquepaque,...,puesto de tacos,rockabilly,shi ro ie,sirloin stockade,tacos abi,tacos de barbacoa enfrente del Tec,tacos de la estacion,tacos los volcanes,tortas hawai,vips
userID,,,,,,,,,,,,,,,,,,,,,
U1001,0,0,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
U1002,0,0,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
U1003,0,0,2,0,0,0,0,0,0,0,...,2,2,0,0,0,0,0,0,0,0
U1004,0,0,0,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,2,0,0
U1005,0,0,0,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
U1006,0,0,0,1,0,0,0,0,0,0,...,1,0,2,0,0,0,0,0,0,0
U1007,0,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
U1008,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
U1009,0,0,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
U1010,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## **Ejercicio 2**

---
Con el objetivo de obtener la información con respecto a los vectores latentes de los restaurantes, obtener dicha factorización SVD utilizando todas las componentes posibles, es decir, usando todos sus valores singulares. En particular indica la cantidad de valores singulares obtenidos. 

---

In [9]:
X = UtMx.T
X.shape

(129, 138)

In [10]:
num_sv = 137

SVD = TruncatedSVD(n_components=num_sv, random_state=1)

resultant_matrix = SVD.fit_transform(X)
resultant_matrix.shape

(129, 129)

## **Ejercicio 3**

---
Usando la métrica de correlación de Pearon, obtener las 10 mejores recomendaciones de este modelo no supervisado con base a la información de alguien que evaluó bien de manera general al “Subway”. Despliega también el valor numérico de la correlación de Pearson de cada una de estas 10 recomendaciones. ***NOTA: No debe estar incluido “Subway” dentro de las recomendaciones.***

---

In [11]:
corrMx = np.corrcoef(resultant_matrix, )
corrMx.shape

(129, 129)

In [12]:
me_gusta = "Subway"

names = UtMx.columns
names_list = list(names)
id_megusta = names_list.index(me_gusta)

id_megusta

88

In [13]:
corr_recomienda = corrMx[id_megusta]
print(corr_recomienda)

[-7.69028369e-04 -7.87822168e-05 -5.27330975e-03  8.58511349e-04
 -3.03891148e-03  3.97495832e-05 -1.54820208e-03 -5.29347145e-03
  7.27520383e-04 -1.55098452e-03 -1.84483094e-03  3.01090491e-01
 -3.06938616e-05 -3.66639157e-03 -2.28024815e-03 -1.70971180e-03
  2.66961340e-03  4.58467365e-04 -2.11449533e-03 -6.20445134e-03
  3.34268563e-03  1.16598607e-01  1.87080102e-03  2.53682556e-03
 -5.48801141e-03 -2.91288266e-03  2.02825342e-03 -1.36607265e-03
 -2.01695899e-03  1.12058244e-01 -2.36235727e-03  6.52159239e-04
  3.53495770e-03 -3.62793330e-03  1.69065407e-03 -4.51837401e-03
 -2.09301342e-03  2.34634298e-01 -3.80413494e-03 -5.11845710e-04
 -2.27148704e-03  3.88178002e-01 -2.07427108e-03 -2.29428835e-03
  1.32565455e-03  3.01002479e-01  1.71433518e-01 -3.29715354e-03
 -4.74480596e-03 -8.02527884e-04 -2.65071452e-03  1.12018889e-01
 -3.91080724e-03 -2.06369812e-03  1.16008629e-01  2.27855804e-01
  4.28342495e-04 -8.69739761e-04  6.09520875e-01 -6.43364064e-03
  4.25467169e-01 -2.27256171e-03  4.45920939e-05  5.11279379e-04
  2.85149220e-01 -1.90010302e-03 -4.16115194e-03 -5.61375368e-03
 -2.57693978e-03 -3.72881676e-03 -6.05992942e-03  1.41047150e-03
 -1.58675476e-04 -1.94116490e-03  2.09955125e-03 -2.10171395e-03
 -4.38985616e-03 -2.29468299e-03  7.76009788e-04 -2.96124143e-03
 -2.82046690e-03 -8.57374506e-04 -1.50259308e-03 -3.19597534e-03
 -2.56400020e-03  4.29823831e-01  4.17218501e-01  3.89064434e-03
  1.00000000e+00 -9.93812832e-04  8.60361345e-04 -2.79531559e-03
  2.37442956e-04 -3.06216758e-03  1.36462717e-03  2.66480676e-04
  2.92661192e-03  5.06277680e-01 -3.20853148e-03 -8.36332065e-04
 -3.72003822e-03  1.60652886e-03 -1.25997089e-03 -2.57629937e-03
  1.70432198e-03 -2.43624453e-03 -1.13863819e-03  1.91200064e-03
 -3.57766463e-03 -2.41086958e-03 -8.60077590e-03  3.33763511e-03
  3.00375655e-03  2.47765536e-03  1.38274830e-03 -1.59646437e-05
 -8.37066511e-04 -1.73990894e-03 -1.20344221e-03 -3.56656608e-03
 -2.38089550e-03 -4.91396372e-06 -3.20025066e-03  1.81536303e-03
  2.45429531e-03 -2.56625850e-03 -2.88100273e-03 -1.91214767e-03
  8.37828947e-04]

In [14]:
list(names[np.argsort(corr_recomienda)][-11:-1])

['Log Yin',
 'Restaurant los Pinos',
 'Mikasa',
 'Chilis Cuernavaca',
 'Mariscos Tia Licha',
 'Sanborns Casa Piedra',
 'Restaurant and Bar and Clothesline Carlos N Charlies',
 'Rincon del Bife',
 'Vips',
 'Restaurant Teely']

## **Ejercicio 4**

---
Disminuye ahora la dimensión de la factorización con un número de componentes tal, que las recomendaciones con esta menor cantidad de información coincidan en al menos 9 de las 10 recomendaciones dadas con todos los valores singulares. Indica la cantidad de valores singulares encontrado y la cantidad de información que contienen. 

---

In [15]:
X2 = UtMx.T
X2.shape

(129, 138)

In [16]:
SVD2 = TruncatedSVD(n_components=137, random_state=1)  
SVD2.fit(X2)

num_sv2 = 5

print('Cantidad de información simplificada con los primeros %d vectores singulares:' % num_sv2)
print('%.1f%%' %  (100 * (1- (SVD2.singular_values_[0:num_sv2]).sum() / (SVD2.singular_values_).sum())))

Cantidad de información simplificada con los primeros 5 vectores singulares:
85.5%

In [17]:
num_sv2 = 5

SVD2 = TruncatedSVD(n_components=num_sv2, random_state=1)

resultant_matrix2 = SVD2.fit_transform(X2)
resultant_matrix2.shape

(129, 5)

In [18]:
corrMx2 = np.corrcoef(resultant_matrix2, )
corrMx2.shape

(129, 129)

In [19]:
me_gusta2 = "Subway"

names2 = UtMx.columns
names_list2 = list(names2)
id_megusta2 = names_list2.index(me_gusta2)

id_megusta2

88

In [20]:
corr_recomienda2 = corrMx2[id_megusta2]
print(corr_recomienda2)

[-0.22010451  0.9998414  -0.4533829  -0.19965743  0.99999333 -0.09249159
 -0.51567461  0.80880927  0.84303356 -0.11783396 -0.25438167  0.99999956
 -0.12534878 -0.279942   -0.14332764 -0.4809148   0.99997557  0.00228842
  0.03311614 -0.74821096  0.99995328  0.9999897  -0.37481021 -0.31008109
  0.83104021  0.83984531 -0.14650029 -0.38719195 -0.12274497  0.9999897
 -0.58710145  0.06999937 -0.38281662 -0.74505902 -0.21946456 -0.26738518
  0.8377747   0.99999768  0.99999297 -0.07651822 -0.31384729  0.99999961
  0.99999376 -0.34781704 -0.34751718  0.99999936  0.99999963 -0.65750426
  0.83713156 -0.06661794 -0.32539095  0.99999228 -0.30224613  0.11486574
  0.99999079  0.99999413 -0.30667786  0.05664052  0.99999977 -0.38749889
  0.99999939 -0.08133972 -0.10470881  0.16412164  0.99999146 -0.23095414
 -0.07533652  0.09447888 -0.19035737 -0.19338679 -0.60723812 -0.17213216
 -0.39520686 -0.38968384 -0.04037689 -0.41128509 -0.9750213   0.05531435
 -0.60259975 -0.19596584 -0.37377694 -0.04426775 -0.40291114 -0.05722413
 -0.31419173  0.99999999  0.99999533 -0.1477576   1.         -0.45403108
  0.77801317  0.84034863  0.84249058 -0.24809077 -0.19797457  0.01383267
 -0.39710939  0.99999861  0.79123366 -0.12228971  0.83217934  0.84315509
  0.83477676 -0.3835671  -0.40024158 -0.23695982 -0.24150789  0.03403772
 -0.31230907 -0.35376104 -0.90551628 -0.10163215 -0.20579364  0.77639389
  0.83928182 -0.34841871  0.84289309 -0.44317049  0.83840597 -0.16556014
 -0.20079438 -0.33452971 -0.23263353  0.84194935  0.84189183  0.83998509
 -0.29949113  0.83837873  0.83933869]

In [21]:
list(names2[np.argsort(corr_recomienda2)][-11:-1])

['Sanborns Casa Piedra',
 'Log Yin',
 'Vips',
 'Mikasa',
 'Restaurant and Bar and Clothesline Carlos N Charlies',
 'Chilis Cuernavaca',
 'Mariscos Tia Licha',
 'Paniroles',
 'Restaurant Teely',
 'Rincon del Bife']

Podemos observar que tenemos 9 de 10 restaurantes dentro del Top 10.

## **Ejercicio 5**

---
Repite el ejercicio con el restaurante “"tacos de barbacoa enfrente del Tec". Incluye tus conclusiones. 

---

In [22]:
corrMx2 = np.corrcoef(resultant_matrix2, )
corrMx2.shape

(129, 129)

In [23]:
me_gusta2 = "tacos de barbacoa enfrente del Tec"

names2 = UtMx.columns
names_list2 = list(names2)
id_megusta2 = names_list.index(me_gusta2)

id_megusta2

124

In [24]:
corr_recomienda2 = corrMx2[id_megusta2]
print(corr_recomienda2)

[ 0.12849817  0.85132109 -0.81307377 -0.5740156   0.84385201 -0.12022155
 -0.71099565  0.99796339  0.9999968   0.06817969 -0.04977942  0.84236461
  0.09957573  0.05485426  0.1067433  -0.68573064  0.84563401 -0.36629883
 -0.20981003 -0.87666112  0.84705344  0.84420444 -0.6933344  -0.48784757
  0.99972783  0.99997745  0.05761053 -0.17670084  0.10193164  0.84417354
 -0.81935652 -0.19983648 -0.78486154 -0.36053477 -0.60720661 -0.63722462
  0.99994441  0.84304002  0.84383252 -0.22342069 -0.73964179  0.842367
  0.84379011 -0.47726879 -0.46549191  0.84250254  0.84143266 -0.3576353
  0.99994639  0.10673964 -0.64771984  0.84389113 -0.64377078 -0.13601567
  0.84403936  0.84373367 -0.29206303 -0.10905962  0.84152952 -0.78181001
  0.84248694 -0.09394097 -0.22532779 -0.24419095  0.84410151  0.13716428
 -0.14727191  0.05280885 -0.53304605 -0.55725618 -0.84204281 -0.28477571
 -0.74810467 -0.05977286 -0.17724426  0.00103522 -0.89640177 -0.07904244
 -0.86672436  0.03864482  0.10634325 -0.32111705 -0.72800521  0.11967587
  0.10603727  0.84190604  0.84353267  0.05531064  0.84189183 -0.68713551
  0.99348881  0.99993587  0.99999782 -0.599506    0.00489087 -0.15207933
 -0.82860013  0.84278549  0.99569646 -0.63549331  0.9997405   0.99999547
  0.99980165 -0.73471962 -0.78202435 -0.04040542 -0.05878703 -0.45410207
 -0.53765169 -0.58047033 -0.8038474   0.13497752 -0.50300422  0.99318048
  0.99998369 -0.72101241  0.99999632  0.00461465  0.99997361 -0.56237686
 -0.68882564 -0.64917226 -0.03079161  0.99999997  1.          0.99991468
 -0.44153438  0.99987832  0.99998366]

In [25]:
list(names[np.argsort(corr_recomienda2)][-11:-1])

['Pollo_Frito_Buenos_Aires',
 'puesto de gorditas',
 'Hamburguesas La perica',
 'vips',
 'little pizza Emilio Portes Gil',
 'carnitas_mata',
 'palomo tec',
 'Carreton de Flautas y Migadas',
 'Taqueria EL amigo ',
 'tacos abi']

---
Observamos recomendaciones bastante acertadas, ya que los restaurantes mencionados tienen tipos de comida muy similares los cuales también pueden estar o entre los favoritos o excelentes opciones para degustar.

---

## **Ejercicio 6**

---
Repite los ejercicios 1 a 4 generando ahora la matriz de utilidad en la cual los renglones son los usuarios (user_ID), las columnas los nombres de los restaurantes (name) y las entradas la evaluación dada a la comida (food_rating). Incluye tus conclusiones. 

---

## **6.1 Matriz de utilidad**

In [26]:
rdf2 = pd.read_csv(rating_final)
gdf2 = pd.read_csv(geo_places, encoding='latin-1')

dfw = pd.merge(rdf2, gdf2, on='placeID') 
dfw = dfw.pivot_table(values='food_rating', index='userID', columns='name', fill_value=0)

print('El tamaño de la matriz es: {}'.format(dfw.shape))

dfw.head(10)

El tamaño de la matriz es: (138, 129)

name,Abondance Restaurante Bar,Arrachela Grill,Cabana Huasteca,Cafe Chaires,Cafeteria cenidet,Cafeteria y Restaurant El Pacifico,Carls Jr,Carnitas Mata Calle 16 de Septiembre,Carreton de Flautas y Migadas,Cenaduria El RincÃ³n de Tlaquepaque,...,puesto de tacos,rockabilly,shi ro ie,sirloin stockade,tacos abi,tacos de barbacoa enfrente del Tec,tacos de la estacion,tacos los volcanes,tortas hawai,vips
userID,,,,,,,,,,,,,,,,,,,,,
U1001,0,0,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
U1002,0,0,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
U1003,0,0,2,0,0,0,0,0,0,0,...,2,2,0,0,0,0,0,0,0,0
U1004,0,0,0,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,2,0,0
U1005,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
U1006,0,0,0,0,0,0,0,0,0,0,...,1,0,2,0,0,0,0,0,0,0
U1007,0,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
U1008,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
U1009,0,0,2,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
U1010,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## **6.2 Factorización con todos los elementos posibles.**

In [27]:
w = dfw.T #para evitar cruzar la información con el primer ejercicio cambiamos la x por w
w.shape

(129, 138)

In [28]:
num_svw = 137

SVDw = TruncatedSVD(n_components=num_svw, random_state=1)

resultant_matrixw = SVDw.fit_transform(w)
resultant_matrixw.shape

(129, 129)

## **6.3 10 mejores recomendaciones con métrica de Pearon.**

In [29]:
corrMxw = np.corrcoef(resultant_matrixw, )
corrMxw.shape

(129, 129)

In [30]:
me_gustaw = "Subway"

namesw = dfw.columns
names_listw = list(namesw)
id_megustaw = names_listw.index(me_gustaw)

id_megustaw

88

In [31]:
corr_recomiendaw = corrMxw[id_megustaw]
print(corr_recomiendaw)

[-5.06418108e-03  1.53891772e-03 -7.15705294e-03 -7.51437349e-04
  3.57844065e-04 -4.27908953e-03 -4.10491062e-03 -8.72391553e-03
 -5.80659154e-03 -7.37551348e-03 -6.29677017e-03  1.19529006e-03
 -5.49056441e-03 -6.25106315e-03 -2.26808294e-04  2.26784575e-03
 -4.97923491e-03 -7.33491870e-03 -5.49091909e-05 -6.54487708e-03
 -7.17291384e-04  2.31333734e-01 -9.42653806e-04  1.15809414e-03
 -2.44343966e-03 -2.46720616e-03 -8.43368969e-04 -2.05629573e-03
 -3.70288596e-03  2.50357400e-01 -5.28927854e-03  2.72981977e-03
  4.14365709e-04 -9.51153872e-03  2.32009229e-03 -9.29532082e-03
 -4.03970901e-03  1.31858098e-01 -8.36645261e-03 -2.30125601e-03
 -2.61409620e-03  4.15222053e-01  4.25538306e-03  3.02880631e-03
 -2.46282020e-03  2.09493113e-01  3.12082362e-01 -3.01154158e-03
 -3.10972278e-04 -1.11824996e-03  8.07121501e-04  2.24213782e-01
  2.65096107e-04  6.44807197e-04  2.32708368e-01  3.31706780e-01
  6.95063851e-04  3.47994174e-04  8.16413374e-01  1.04699730e-04
  4.68949686e-01  4.43119191e-03 -2.79083259e-03 -4.74310321e-03
  9.45625400e-02 -4.32375633e-03 -9.91593839e-03  6.59128482e-03
 -5.26009411e-03 -8.53125476e-03 -1.08456080e-02  5.80519412e-03
  3.26361206e-03  1.18239199e-03  1.50584868e-04 -6.05677040e-03
 -8.57964598e-04 -5.47089297e-04  1.30496863e-03  1.14112586e-03
 -3.15094052e-03  1.03603724e-02  2.95398913e-03 -9.38144208e-03
 -6.29169520e-04  3.81819463e-01  3.65656688e-01  4.28784461e-04
  1.00000000e+00 -1.99936321e-03 -4.29943952e-03 -9.95112702e-03
 -6.58885162e-03 -4.81048142e-03 -5.63718446e-03 -1.74366758e-03
  3.01538197e-03  4.42147702e-01 -5.86019551e-03 -1.52653108e-03
 -8.54349820e-03  3.15606317e-03  2.45599865e-04 -4.60337555e-03
 -7.91423599e-04  8.56988031e-04  1.98632124e-03 -9.14149262e-04
 -9.63185863e-03 -6.59421891e-03 -3.61768796e-03 -4.98574218e-03
 -2.08219907e-03 -8.12719293e-04 -2.93115223e-03 -2.83804692e-03
  2.86699454e-03 -2.84151084e-04 -6.54974706e-03 -8.56547287e-03
  1.73284166e-04 -9.40493206e-03 -7.95661685e-03 -1.05138327e-02
 -5.78915963e-03 -5.39973770e-03 -7.67089017e-03  6.33375557e-03
 -2.57101052e-03]

In [32]:
list(names[np.argsort(corr_recomiendaw)][-11:-1])

['Restaurant Familiar El Chino',
 'Kiku Cuernavaca',
 'Paniroles',
 'Restaurant Las Mananitas',
 'Sanborns Casa Piedra',
 'Rincon del Bife',
 'Mariscos Tia Licha',
 'Vips',
 'Restaurant and Bar and Clothesline Carlos N Charlies',
 'Restaurant Teely']

## **6.4 Disminuir dimension de Factorizacion.**

In [33]:
w2 = dfw.T
w2.shape

(129, 138)

In [34]:
SVDw2 = TruncatedSVD(n_components=137, random_state=1)  
SVDw2.fit(w2)

num_svw2 = 74

print('Cantidad de información simplificada con los primeros %d vectores singulares:' % num_svw2)
print('%.1f%%' %  (100 * (1- (SVDw2.singular_values_[0:num_svw2]).sum() / (SVDw2.singular_values_).sum())))

Cantidad de información simplificada con los primeros 74 vectores singulares:
12.5%

In [35]:
num_svw2 = 74

SVDw2 = TruncatedSVD(n_components=num_svw2, random_state=1)

resultant_matrixw2 = SVDw2.fit_transform(w2)
resultant_matrixw2.shape

(129, 74)

In [36]:
corrMxw2 = np.corrcoef(resultant_matrixw2, )
corrMxw2.shape

(129, 129)

In [37]:
me_gustaw2 = "Subway"

namesw2 = UtMx.columns
names_listw2 = list(namesw2)
id_megustaw2 = names_listw2.index(me_gustaw2)

id_megustaw2

88

In [38]:
corr_recomiendaw2 = corrMxw2[id_megustaw2]
print(corr_recomiendaw2)

[-1.09441214e-02  3.70424322e-02 -1.18784063e-02 -3.63207021e-04
 -3.32487710e-02 -8.21076637e-03 -6.95208381e-03 -8.73464804e-03
 -9.92423534e-03 -7.55918428e-03 -1.19602905e-02 -2.61812505e-02
 -1.07636539e-02 -1.06293238e-02  3.50561189e-04  4.59934981e-03
 -2.15223700e-02 -1.19735566e-02 -7.30375080e-04 -1.00829107e-02
  9.01262734e-03  2.26373959e-01  3.90146425e-04  3.45749506e-03
 -4.76069422e-03 -4.38915813e-03 -1.35906979e-03 -3.81672435e-03
 -6.70538048e-03  2.49921465e-01 -8.28240939e-03  2.77906413e-03
 -7.94077582e-04 -1.47720226e-02  4.28551309e-03 -1.33023444e-02
 -4.92784240e-03  1.20873751e-01  2.85327587e-02 -4.67893852e-03
 -5.77075484e-03  4.34973355e-01  4.03117405e-03  5.70434413e-03
 -3.86124407e-03  2.67162045e-01  3.17003454e-01 -5.67048651e-03
  1.93852277e-03 -1.70303190e-03  8.97061255e-05  2.20856914e-01
  1.10621535e-03  1.92810220e-03  2.53376408e-01  3.34772220e-01
 -7.96331824e-05  1.92126058e-03  8.81512488e-01  1.04667077e-04
  5.14283528e-01  7.11438494e-03 -4.86799690e-03 -1.81273510e-03
  1.00212603e-01 -2.79863399e-03 -1.27335236e-02  1.38534136e-02
 -1.09802515e-02 -1.30920922e-02 -1.83086903e-02  9.79356362e-03
  3.55976016e-03  7.18545293e-05 -2.78475956e-05 -8.65292955e-03
 -2.42862404e-03  4.26639653e-05  4.57622397e-03  1.38475730e-03
 -6.66311134e-03  1.76778908e-02  8.19527313e-03 -1.22091587e-02
 -2.20268500e-03  4.75260898e-01  3.85011090e-01 -5.06398791e-04
  1.00000000e+00 -4.59674050e-03 -5.28791398e-03 -1.33443071e-02
 -8.64125339e-03 -7.84202863e-03 -4.71016867e-03 -6.33803704e-04
  4.63038200e-03  4.48615606e-01 -9.20161009e-03 -3.61235317e-03
 -1.69780725e-02  4.31571263e-03  2.55779487e-03 -7.60258868e-03
 -1.90508236e-03  2.64345653e-03  1.25767429e-03  1.54570482e-03
 -1.41499999e-02 -1.03776917e-02 -6.72514073e-03 -8.87711919e-03
 -5.69334217e-03 -2.45916403e-03 -3.29848488e-03 -4.35439286e-03
  2.03127892e-03  3.55971426e-04 -1.39095938e-02 -1.40145296e-02
  4.58549155e-04 -1.33010811e-02 -1.16974848e-02 -1.25876442e-02
 -1.29586391e-02 -1.00720081e-02 -1.28117230e-02  8.36902646e-03
 -3.86223779e-03]

In [39]:
list(namesw2[np.argsort(corr_recomiendaw2)][-11:-1])

['Restaurant Familiar El Chino',
 'Mikasa',
 'Paniroles',
 'Restaurant Las Mananitas',
 'Sanborns Casa Piedra',
 'Mariscos Tia Licha',
 'Vips',
 'Rincon del Bife',
 'Restaurant and Bar and Clothesline Carlos N Charlies',
 'Restaurant Teely']

## **Ejercicio 7**

---
Repite los ejercicios 1 a 4 generando ahora la matriz de utilidad en la cual los renglones son los usuarios (user_ID), las columnas los nombres de los restaurantes (name) y las entradas la evaluación dada al servicio (service_rating). Incluye tus conclusiones. 

---

## **7.1 Matriz de utilidad**

In [40]:
rdf3 = pd.read_csv(rating_final)
gdf3 = pd.read_csv(geo_places, encoding='latin-1')

dfz = pd.merge(rdf3, gdf3, on='placeID') 
dfz = dfz.pivot_table(values='service_rating', index='userID', columns='name', fill_value=0)

print('El tamaño de la matriz es: {}'.format(dfw.shape))

dfw.head(10)

El tamaño de la matriz es: (138, 129)

name,Abondance Restaurante Bar,Arrachela Grill,Cabana Huasteca,Cafe Chaires,Cafeteria cenidet,Cafeteria y Restaurant El Pacifico,Carls Jr,Carnitas Mata Calle 16 de Septiembre,Carreton de Flautas y Migadas,Cenaduria El RincÃ³n de Tlaquepaque,...,puesto de tacos,rockabilly,shi ro ie,sirloin stockade,tacos abi,tacos de barbacoa enfrente del Tec,tacos de la estacion,tacos los volcanes,tortas hawai,vips
userID,,,,,,,,,,,,,,,,,,,,,
U1001,0,0,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
U1002,0,0,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
U1003,0,0,2,0,0,0,0,0,0,0,...,2,2,0,0,0,0,0,0,0,0
U1004,0,0,0,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,2,0,0
U1005,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
U1006,0,0,0,0,0,0,0,0,0,0,...,1,0,2,0,0,0,0,0,0,0
U1007,0,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
U1008,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
U1009,0,0,2,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
U1010,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## **7.2 Factorización con todos los elementos posibles.**

In [41]:
z = dfz.T #para evitar cruzar la información con el primer ejercicio cambiamos la x,w por z
z.shape

(129, 138)

In [42]:
num_svz = 137

SVDz = TruncatedSVD(n_components=num_svz, random_state=1)

resultant_matrixz = SVDz.fit_transform(z)
resultant_matrixz.shape

(129, 129)

## **7.3 10 mejores recomendaciones con métrica de Pearon.**

In [43]:
corrMxz = np.corrcoef(resultant_matrixz, )
corrMxz.shape

(129, 129)

In [44]:
me_gustaz = "Subway"

namesz = dfz.columns
names_listz = list(namesz)
id_megustaz = names_listz.index(me_gustaz)

id_megustaz

88

In [45]:
corr_recomiendaz = corrMxz[id_megustaz]
print(corr_recomiendaz)

[-2.91095724e-04 -3.60361693e-03  4.17542463e-03  5.49600644e-03
  8.22025821e-03  9.26584331e-04 -1.84324856e-04  2.08477911e-02
  4.16661248e-04  5.49213204e-03 -9.83321202e-03  2.30697829e-01
 -7.71002964e-04 -7.78964069e-03  4.28478573e-03 -1.96660815e-03
  6.46627016e-03  1.22858323e-02  5.23591750e-03 -3.37285475e-03
  4.22033518e-03  1.92759594e-01  3.25932626e-03  1.31225788e-02
  1.02856131e-02  1.08386707e-02 -2.32136875e-03  9.93522146e-03
 -8.13035667e-03  1.78740094e-01  1.27492522e-03  4.01749269e-03
  9.93395882e-03  1.06861306e-02  1.08193009e-02  6.49374214e-03
  2.57816306e-03  1.10159929e-02  1.62133585e-02  9.40455020e-03
  1.04115070e-02  1.39761855e-01  4.95429442e-03  1.01065382e-02
  7.45513647e-03  1.62758051e-02  3.65933684e-01 -4.53806898e-03
  1.94095851e-03  6.28735982e-03  7.08759527e-03  4.35778543e-03
  7.61149284e-03  6.86889327e-03  1.82869479e-01  2.26266242e-01
  8.41417946e-03 -1.38744406e-02  7.72973139e-01  2.58304203e-04
  6.00160625e-01  1.00855481e-02 -8.87397356e-03  5.37102617e-03
  9.70530131e-03  7.08173024e-03  8.06957518e-03 -5.45053917e-03
  1.25456353e-02  8.27983430e-03  1.25915854e-03  9.13235634e-03
 -4.90925954e-03 -1.55909907e-03  2.56719712e-04 -6.13210589e-04
  2.33141129e-03 -2.84236088e-03  1.34229000e-02  8.54134908e-03
 -1.95914298e-03 -5.67817255e-03 -1.88379679e-03 -4.53066053e-03
  6.90749795e-03  5.18731471e-01  1.27712441e-01  7.79875544e-03
  1.00000000e+00  4.34972686e-03  8.04472608e-03  6.45175638e-03
  1.22023121e-03 -4.61635454e-03  6.39825008e-03 -3.57085063e-05
  1.83854290e-02  4.21199865e-01  1.79626257e-02  1.24610098e-03
  1.08222404e-03  4.99735712e-03 -2.30140973e-03  1.04895738e-02
  1.77207012e-02  2.00752244e-03  5.47674807e-03  6.21699772e-03
  5.79785841e-03  7.94287249e-03 -3.95650667e-03  8.62442429e-04
  7.08373006e-03  1.23364795e-02  2.16018684e-04  5.50503399e-03
  8.88686634e-03 -2.03244541e-03 -3.76225432e-03 -1.21854452e-03
  8.12542032e-03  1.30362979e-02  7.65454017e-03  3.31990513e-03
  6.15048940e-03  8.03179308e-03  9.69117004e-03 -1.69077232e-03
  6.83466681e-03]

In [46]:
list(namesz[np.argsort(corr_recomiendaz)][-11:-1])

['Kiku Cuernavaca',
 'Restaurant Familiar El Chino',
 'Giovannis',
 'Restaurant Las Mananitas',
 'Chilis Cuernavaca',
 'Paniroles',
 'Vips',
 'Rincon del Bife',
 'Restaurant and Bar and Clothesline Carlos N Charlies',
 'Restaurant Teely']

## **7.4 Disminuir dimension de Factorizacion.**

In [47]:
z2 = dfz.T
z2.shape

(129, 138)

In [48]:
SVDz2 = TruncatedSVD(n_components=137, random_state=1)  
SVDz2.fit(z2)

num_svz2 = 47

print('Cantidad de información simplificada con los primeros %d vectores singulares:' % num_svz2)
print('%.1f%%' %  (100 * (1- (SVDz2.singular_values_[0:num_svz2]).sum() / (SVDz2.singular_values_).sum())))

Cantidad de información simplificada con los primeros 47 vectores singulares:
29.9%

In [49]:
num_svz2 = 47

SVDz2 = TruncatedSVD(n_components=num_svz2, random_state=1)

resultant_matrixz2 = SVDz2.fit_transform(z2)
resultant_matrixz2.shape

(129, 47)

In [50]:
corrMxz2 = np.corrcoef(resultant_matrixz2, )
corrMxz2.shape

(129, 129)

In [51]:
me_gustaz2 = "Subway"

namesz2 = UtMx.columns
names_listz2 = list(namesz2)
id_megustaz2 = names_listz2.index(me_gustaz2)

id_megustaz2

88

In [52]:
corr_recomiendaz2 = corrMxz2[id_megustaz2]
print(corr_recomiendaz2)

[ 6.13434924e-03  9.06740129e-02  1.02052815e-02  5.99258738e-03
  5.52480109e-02  2.25170669e-03 -3.13729072e-03  2.16389813e-02
  1.04659739e-03  1.17378634e-02 -9.06481861e-03  2.33238097e-01
 -5.27939850e-03 -6.16448432e-03  7.81786074e-03 -9.12792085e-03
  1.08244322e-01  1.76091928e-02  5.68457672e-03  1.20650327e-03
  2.64112930e-03  2.91518571e-01  1.49134581e-02  2.46038552e-02
  1.67841480e-02  1.50898785e-02  1.46722469e-02  7.11365008e-03
 -1.09806385e-02  1.86747217e-01 -6.21035248e-03  8.08867145e-03
  9.07642411e-03  9.48208835e-03  1.47932096e-02  3.79633313e-03
 -5.01905974e-04  2.85188497e-02  1.24290204e-01  7.96237698e-03
  2.17623279e-02  1.85759573e-01 -1.49656091e-01  1.13683966e-02
  3.34353878e-03  8.56616492e-02  5.46168927e-01 -3.12381241e-03
  3.26316165e-02  6.05816009e-03  1.63600201e-02  3.28561622e-02
  7.58116500e-03  9.52990245e-03  1.80047371e-01  2.34506825e-01
  1.73350496e-02 -2.60729203e-02  9.57599405e-01 -1.16059670e-02
  8.74794556e-01  8.44159208e-03 -1.78949341e-02 -9.85449032e-03
 -1.26985951e-01  1.12827861e-02  1.24160458e-02 -1.30599227e-02
  2.90377057e-02  2.12919302e-02  3.40402997e-04  1.40411645e-02
 -2.25931753e-04 -1.64491529e-03  2.01385867e-03 -1.12840338e-02
  7.72748948e-03 -3.72910998e-03  2.54488931e-02  2.00737476e-02
 -3.73179630e-03 -1.11139420e-02 -1.17263634e-03 -4.84204066e-03
  3.56514828e-03  6.96959388e-01  1.51787379e-01  1.49289050e-02
  1.00000000e+00 -3.17355492e-03  1.85938392e-02  5.47239098e-03
  1.03348523e-02 -6.22308631e-03  1.18109695e-03  6.17393306e-03
  2.16734845e-02  4.60153275e-01  2.11693490e-02  1.51240368e-02
  1.38637820e-02  6.46682038e-03  3.10419602e-03  1.59613011e-02
  1.96374553e-02 -5.19452553e-03 -1.94750306e-04  1.29367219e-02
  9.83537788e-03  1.82508824e-02  4.03143145e-03  1.14588729e-02
  8.97598746e-03  1.94387895e-02  7.18820941e-03  1.13527128e-03
  1.96382981e-02 -9.37865418e-03  6.06938563e-03 -3.23503530e-03
  8.39457493e-03  1.06169463e-02  1.83391818e-02  4.17653682e-03
  7.73011127e-03  7.00852988e-03  1.46482485e-02 -8.76399441e-03
  1.11239732e-02]

In [53]:
list(namesz2[np.argsort(corr_recomiendaz2)][-11:-1])

['Mariscos Tia Licha',
 'Kiku Cuernavaca',
 'Chilis Cuernavaca',
 'Restaurant Las Mananitas',
 'Giovannis',
 'Vips',
 'Paniroles',
 'Rincon del Bife',
 'Restaurant and Bar and Clothesline Carlos N Charlies',
 'Restaurant Teely']

## **Ejercicio 8**

---
Incluye tus conclusiones finales. En particular indica la coincidencia o no de estos tres modelos.

---

Al realizar varias veces estos ejercicios pero reemplazando nuestro valor entre rating, food_rating y service_rating observamos lo siguiente:

* Los siguientes restaurantes tuvieron coincidencia en los 3 modelos:
    
    *   Vips
    *   Rincon del Bife
    *   Restaurant Teely
    *   Restaurant and Bar and Clothesline Carlos N Charlies

* Los siguientes restaurantes tuvieron coincidencia tanto en recomendaciones por rating como por food_rating.

    *   Mariscos Tia Licha
    *   Sanborns Casa Piedra

* Los siguientes restaurantes tuvieron coincidencia tanto en recomendaciones por rating como por service_rating.

    *   Chilis Cuernavaca

* Los siguientes restaurantes tuvieron coincidencia tanto en recomendaciones por food_rating como por service_rating.

    *   Restaurant Familiar El Chino
    *   Kiku Cuernavaca
    *   Paniroles
    *   Restaurant Las Mananitas


Cuando realizamos la disminución de la factorización con el numero de componentes, observamos lo siguiente: 

* Para el primer modelo, basado en **rating**, la cantidad mínima de valores para mantener 9 de las 10 recomendaciones dadas con todos los valores singulares es de **5**.

* Para el segundo modelo, basado en **food_rating**, la cantidad mínima de valores para mantener 9 de las 10 recomendaciones dadas con todos los valores singulares es de **74**.

* Para el segundo modelo, basado en **service_rating**, la cantidad mínima de valores para mantener 9 de las 10 recomendaciones dadas con todos los valores singulares es de **47**.

Podemos observar que el primer modelo presenta la mayor disminucion, con una gran diferencia ante los otros dos modelos.